.profileTop {
  position: relative;
  text-align: center;
  min-height: 500px;
}

.profileCover {
  position: relative;
  width: 100%;
}

.profileCoverImg {
  width: 100%;
  max-height: 400px;
  margin-top: 60px;
}

.profileUserImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid white;
}

.profileInfo {
  /* position: absolute; */
  /* bottom: -45px; */
  left: 46%;
  margin-top: 60px;
  text-align: center;
}

.profileInfoName {
  font-size: 1.5rem;
  margin-top: 10px;
}

.profileInfoDesc {
  font-size: 1rem;
  color: gray;
}

.profileFeed {
  margin-top: 20px;
}

/* Layout adjustments for responsiveness */
.leftBar {
  transition: 0.5s ease-in-out;
  margin-top: 69px;
  /* min-height: 100vw; */
}

.centerBar {
  padding: 15px;
  max-height: 100vh;
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #798dba #f4f4f4; /* For Firefox */
  border-radius: 4px; /* Rounded corners */
  scroll-behavior: smooth;
}

.rightBar {
  padding: 15px;
  transition: 0.5s ease-in-out;
  max-height: 100vh;
  overflow: auto;
}
.blur{
  filter: blur(1px);
  pointer-events: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .profileInfoName, .profileInfoDesc {
      text-align: center;
      font-size: 1rem;
  }
  
  .profileFeed {
      flex-direction: column;
  }

  .rightBar {
      position: absolute;
      
  }
  .leftBar{
    position: absolute;
    z-index: 1000;
    width: -100px;
  }
}