.profileTop {
  position: relative;
  text-align: center;
}

.profileCover {
  position: relative;
  width: 100%;
}

.profileCoverImg {
  width: 100%;
  height: 600px;
}

.profileUserImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid white;
}

.profileInfo {
  /* position: absolute; */
  /* bottom: -45px; */
  left: 46%;
  margin-top: 60px;
  text-align: center;
}

.profileInfoName {
  font-size: 1.5rem;
  margin-top: 10px;
}

.profileInfoDesc {
  font-size: 1rem;
  color: gray;
}

.profileFeed {
  margin-top: 20px;
}

/* Layout adjustments for responsiveness */
.leftBar {
  background-color: #f8f9fa; /* Example background color */
}

.centerBar {
  padding: 15px;
}

.rightBar {
  padding: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .profileInfoName, .profileInfoDesc {
      text-align: center;
      font-size: 1rem;
  }
  
  .profileFeed {
      flex-direction: column;
  }

  .leftBar, .rightBar {
      display: none; /* Hide sidebars on smaller screens */
  }
}