<div class="container-fluid">
    <div class="row  ">
        <div class="col-md-12 menurow">
            <div class="col-md-3">
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Login</a></li>
                    <li><a>Register</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a>Guidelines</a></li>
                    <li><a>Membership</a></li>
                    <li><a>Policies</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a>Careers</a></li>
                    <li><a>Security</a></li>
                    <li><a>SponsorShip</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a>Feedback</a></li>
                    <li><a>Help</a></li>
                    <li><a>Chat Support</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 copyrow">
            <span>copyrigth@konnectme2022 powered by mosco Ltd</span>
        </div>
    </div>
</div>
