.container-fluid{
    background-color: azure;
    padding: 5px;
    margin: 10px;
}
.menurow{
    display: flex;
}
li{
    list-style: none;
    padding: 10px;
    text-align: center;
    margin: 5px;
    font-size: small;
    color:red;
}
li:hover{
    color: blue;
    cursor: pointer;
}
span{
    display: block;
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}