/* .loader_state{
    position: absolute;
    z-index: 9999;
    margin-left: 0%;
    margin-top: 5%;
} */
 .loader_state{
    position: absolute;
    z-index: 9999;
    margin-left: 50%;
    margin-top: 25%;
}

