<div class="container">
  @if (!profile) {
    <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
      <div class="logo-container">
        <span class="logo bi bi-list" (click)="toggleCollapse()"></span>
        <!-- <div class="logo-text" *ngIf="collapsed">KonnectMe</div> -->
      </div>
      <ul class="sidenav-nav">
        @for (data of navdata; track data) {
          <li class="sidenav-nav-item">
            <a class="sidenav-nav-link" [ngClass]="this.currentUrl==data.routerLink?'url_active':''" [routerLink]="data.routerLink" (click)="changePage(data)">
              <i class="sidenav-link-icon" [class]="data.icon"></i>
              @if (collapsed) {
                <span class="sidenav-link-text">{{data.label}}</span>
              }
            </a>
          </li>
        }
      </ul>
    </div>
  }

</div>