<div class="container">
    <div class="row">
       
        <div class="rowright">
        <form [formGroup]="forgotForm" (ngSubmit)="submit()">
            <label>Email</label>
            <input type="email"  formControlName="email"  placeholder="Email" class="form-control" required>
            <span style="color: red;" *ngIf="controls['email'].getError('required')!=null && controls['email'].touched">Email is Required</span>
            <button  [disabled]="!forgotForm.valid" type="submit" class="btn btn-success btn-lg ">Submit</button> 
        </form>
        </div>   
    </div>
</div>

 