.share {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin-top: 10px;
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.shareInput {
    border: none;
    width: 80%;
    height: 100px;
    padding: 10px;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions {
    display: flex;
    margin-left: 0px;
}

.shareOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left:50px ;
}

.shareIcon {
    font-size: 18px;
    margin-right: 2px;
}

.shareOptionText {
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
}
.imagePreviewContainer{
    padding: 0 20px 10px 20px;
   position: relative;
}
.imgPreview{
    width: 100%;
  object-fit: cover;
}
.imgCancel{
    position: absolute;
    top: -5;
    right: 5px;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 50%;
}
.shareButton {

    background-color: rgb(16, 124, 16);
    border: none;
    border-radius: 5px;
    padding: 6px;
    margin-right: 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}