<div class="container p-2 " style="margin-top: 20px;">
    <h1 style="text-align: center;">Terms And Conditions</h1>
</div>
<div class="container p-3" style="text-align: center;margin-left: auto;margin-right: auto;margin-top: 20px;">
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12" style="margin-top: 20px;">
            <h3>Social media terms and conditions</h3>
            <span>The terms, conditions and policies that apply to specific social networks, such as Facebook or Twitter, also apply to the KonnectMe profiles they host. We recommend that you familiarise yourself with those terms and conditions before participating in the Community and we disclaim any liability associated with your use of those services, or for your failure to view or comply with their terms, conditions and policies. Where there is a conflict between these Rules and the terms and conditions of the relevant social media channels, the social media channels’ terms and conditions will prevail.</span>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <h3>Moderation of the community</h3>
            <span>We strive to create dialogue with users of our Community and encourage you to share content via the Community in accordance with these Rules (Contribution). To help us do that, we try to monitor the Community during normal UK business hours (9am-5pm GMT, Monday to Friday, excluding UK public holidays). We will try to check that all submissions to the Community comply with our acceptable use standards described below (Acceptable Use Standards) as soon as reasonably practicable after publication.

                If in our opinion an individual makes use of the Community in breach of these Rules, we reserve the right to remove, or to disable access to, any Contribution, and to terminate, suspend or change the conditions of their access to the Community without prior warning. We also reserve the right to bring legal proceedings against any individual for a breach of the Rules, or take such other action as we reasonably deem appropriate.
                
                We expressly exclude our liability for any loss or damage arising from the use of the Community by any person in contravention of these Rules. While we try to moderate the Community, we are not legally responsible for any material posted by third parties and we may stop, or suspend, moderating the Community at any time.</span>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <h3>Minors</h3>
            <span>The Community is intended for use by individuals aged 18 years or more. Minors must get permission from their parent or guardian before using the Community. We recommend that parents who allow their children to use the Community discuss online safety with their children first and that parents endeavour to monitor any use of the Community. Minors should also be given guidance on how to use the Community safely and in a way that complies with these Rules.</span>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <h3>Copyright</h3>
            <span>By submitting a Contribution to the Community, you agree to grant KonnectMe a non-exclusive perpetual licence to use that Contribution and to waive your moral rights. Although you will still own the copyright in your Contribution, KonnectMe will have the right to freely use, edit, alter, reproduce, publish and/or distribute the material contained in your Contribution in any format and media. This licence will be free of charge, perpetual and capable of sub-licence. KonnectMe may exercise all copyright and publicity rights in the material contained in your Contribution in all jurisdictions, to their full extent and for the full period for which any such rights exist in that material. We reserve the right to display advertisements in connection with your Contribution.
              </span>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <h3>Data protection</h3>
            <span>If you are required to submit personal data directly to KonnectMe during the registration process, we will only use such data for administration and monitoring purposes and will not share your data with third parties unless legally required to do so.
              </span>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
            <h3>Governing law and jurisdiction</h3>
            <span>These Rules are governed by and shall be construed in accordance with English law and you irrevocably submit to the exclusive jurisdiction of the courts of England and Wales to settle any dispute or claim that arises out of or in connection with these Rules, their subject matter or formation. If any part of these Rules is deemed unlawful, void, or for any reason unenforceable then that part will be deemed severable and will not affect the validity and enforceability of the remaining parts.
              </span>
        </div>
    </div>
</div>

