.container {
    /* max-width: 1320px; */
    display: flex;
    height: 50%;
}
.sidenav{
    background-color: #263238;
    transition:all .5s ease ;
    z-index: 1;
    top: 20px;
    /* width: 5rem; */
    height: 100%;
    box-shadow: 0.063rem 0 1.63rem 0 #8690a3;
}

  
  .sidenav-collapsed .sidenav {
    width: 60px; /* Adjust the width when collapsed */
  }
.logo-container{
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
}
.bi-list{
    text-align:center ;
    width: .1rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding:0.1rem ;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    border: none;
    color: blue;
    font-size: 30px;
}
.logo-text{
    margin-left: 1.5rem;
    font-size:24px ;
    font-weight:700 ;
    color: #fff;
}
.btn-close{
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius:50% ;
    background-color: transparent;
    border: none;
}
.sidenav-collapsed{
  width: 16.5625rem;
}
.sidenav-nav{
  list-style: none;
  padding: 0.938rem;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  cursor: pointer;
}
.sidenav-nav-link{
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f3f3f3;
  text-decoration: none;
  transition: color .3s ease;
}   
.sidenav-nav-item{
  width: 100%;
  margin-bottom: 0.625rem;
}
.sidenav-link-icon{
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  text-align: center;
}
.sidenav-link-text{
  margin-left: 1.5rem;
}
.sidenav-nav-link:hover{
  background-color: #fff;
  color: blue;
  border-radius: 10px;
  padding: .2rem;
}
