<div class="container">
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''" >
    <div class="logo-container">
      <span class="logo bi bi-list" (click)="toggleCollapse()"></span>
      <!-- <div class="logo-text" *ngIf="collapsed">KonnectMe</div> -->
    </div>
    <ul class="sidenav-nav">
      @for (data of navProfile; track data) {
        <li class="sidenav-nav-item">
          <a class="sidenav-nav-link" (click)="dialogMenu(data?.label)"  >
            <i class="sidenav-link-icon" [class]="data?.icon"></i>
            @if (collapsed) {
              <span class="sidenav-link-text">{{data?.label}}</span>
            }
          </a>
        </li>
      }
    </ul>
  </div>
</div>
