<img class="closedialog" src="../../../assets/close.png" (click)="closeDialog()" width="20px" height="20px"><br>
<h5 class="text-center p-3 m-2"><b>Edit Your Info</b></h5>
<form [formGroup]="passwordForm" (ngSubmit)="newPassword(passwordForm.value)">
<div class="row change">
    <div class="col-md-8">
        <label>Current Password</label>
        <input  type="text" placeholder="Enter Current Password" required formControlName="opassword" ngModel class="form-control">
        <span style="color: red;" *ngIf="controls['opassword'].getError('required')!=null && controls['opassword'].touched">Enter Old Password</span>
        <span style="color: red;" *ngIf="controls['opassword'].getError('minlength')!=null">Old Password must be atleast 6 characters long</span><br>
    </div>
    <div class="col-md-8">
        <label>New Password</label>
        <input  type="text" placeholder="Enter New Password" required formControlName="npassword" ngModel  class="form-control">
        <span style="color: red;" *ngIf="controls['npassword'].getError('required')!=null && controls['opassword'].touched">Enter New Password</span>
        <span style="color: red;" *ngIf="controls['npassword'].getError('minlength')!=null">New Password must be atleast 6 characters long</span><br>
    </div>
    <div class="col-md-8">
        <label>Confirm Password</label>
        <input  type="text" placeholder="Enter Confirm Password" required formControlName="cpassword" ngModel  class="form-control">
        <span style="color: red;" *ngIf="controls['cpassword'].getError('required')!=null && controls['opassword'].touched">Enter Confirm Password</span>
        <span style="color: red;" *ngIf="controls['cpassword'].getError('minlength')!=null">Confirm Password must be atleast 6 characters long</span><br>
        <span style="color: red;" *ngIf="controls['cpassword'].getError('mustmatch')!=null">Password do not match</span><br>
    </div>
    <div class="actionButton">
        <button [disabled]="passwordForm.invalid" type="submit" class="btn btn-primary btn-sm">Submit</button>
        <button type="button" class="btn btn-off btn-sm" (click)="cancelDialog()">Cancel</button>
    </div>
</div>
</form>
