<div class="container">
    <div class="row">
        <div class="col-md-7">
            <img src="../../assets/koneticon.jpg" width="500px" height="500px" class="img-responsive" style="margin: auto;">
        </div>
        <div class="col-md-5">
            <h2>Why You Need <br>KonnectMe Membership</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Membership Levels</h1>
            <p>We have created multiple membership levels depending on your status with the Pacific Group Golf Club.</p>
        </div>
        <div class="col-md-12">
            <h1>Guests Membership</h1>
            <p>This membership level is the default level for all contacts. As a guest, you will be including in our mailing list, be able to sign up for Events, keep your contact information up to date and more.

                Cost for this membership level is Free.</p>
        </div>
        <div class="col-md-12">
            <h1>Silver Membership</h1>
            <p>This is membership in the Pacific Group Golf Club. As a Full Member, you have selected Pacific Group as the only or primary golf club. You can sign up with other clubs as a secondary member, but Pacific Group will be the primary. 
            </p>
        </div>
        <div class="col-md-12">
            <h1>Golden Membership</h1>
            <p>As a Multi-Member, you have all the same benefits as a Full Member, but you are already a primary member at another golf club, and you have joined Pacific Group Golf Club as a secondary member. 
            </p>
        </div>
    </div>
        <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <h3>Guests Plan</h3>
                        <ul>
                            <li>Limited Events</li>
                            <li>Access to live sessions</li>
                            <li>Chat to Strangers</li>
                            <li>Posts Authorization</li>  
                        </ul>
                        <h4>FREE</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h3>Silver Plan</h3>
                        <ul>
                            <li>UnLimited Events</li>
                            <li>Access to live sessions</li>
                            <li>Chat to Strangers</li>
                            <li>Posts Authorization</li>
                            <li>One on One Interactions with VIP</li> 
                            <li>Access to Film Chat</li> 
                            <li>Unlimited Group Acess</li>
                        </ul>
                        <h4>INR 499/-</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h3>Golden Plan</h3>
                        <ul>
                            <li>UnLimited Events</li>
                            <li>Access to live sessions</li>
                            <li>Chat to Strangers</li>
                            <li>Posts Authorization</li>
                            <li>One on One Interactions with VIP</li> 
                            <li>Access to Film Chat</li> 
                            <li>Unlimited Group Acess</li>
                            <li>VIP Membership</li>
                            <li>VIP Friends Access</li>
                        </ul>
                        <h4>INR 999/-</h4>
                    </div>
                </div>
        </div>
  
</div>
